@media (max-width: 549px) {
    .hidden--mobile {
    display: none !important;
    }
}

@media (min-width: 549px) {
    nav > ul {
        display: flex;
        justify-content: space-evenly;
        padding: 0 0;
        list-style-type: none;
        font-family: 'Rye', cursive;

    }
}

body {
    background: black;
    width: 100%;
}

#homepage {
    text-align: center;
}

.fire {
    text-align: center;
    max-width: 100%;
    height: auto;
    justify-self: center;
}

nav > .fa-bars {
    color: white;
    text-align: center;
    display: none;
}

nav {
    display: flex;
    flex-direction: column;
    background-color: white;
}

header h1 {
    text-align: center;
    font-family: 'Rye', cursive;
    font-size: 60px;
}

header h2 {
    text-align: center;
    color:#fff;
    line-height: 50px;
    font-family: 'Rye', cursive;
    font-size: 45px;
}

.bioheading {
    text-align: center;
    color:#fff;
}

.flavorheading {
    background-color: white;
    text-align: center;
    color: black;
}

.box{
    box-sizing: border-box;
    padding: 20px;
    }

.table {
    background-color: #ff7700;
    text-align: center;
    grid-row: 3;
    }

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    border-radius: 30px;
    padding: 20px;
}
#gatorpic {
    align-items: center;
    justify-content: center;

}

.gallery-container {
    position: relative;
    display: flex;
    justify-content: center;
}

.thumbnails {
    position: absolute;
    bottom: 8px;
    display: flex;
    flex-direction: row;
    gap: 6px;
}

.thumbnails div {
    width: 8px;
    height: 8px;
    cursor: pointer;
    background: white;
    border-radius: 100%;
}

.thumbnails div.highlighted {
    background-color: white;
}

.slides {
    margin: 0 16px;
    display: grid;
    grid-auto-flow: column;
    gap: 1rem;
    width: 540px;
    padding: 0 0.25rem;
    height: 720px;
    overflow-y: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
}

.slides > div {
    scroll-snap-align: start;
}

.slides img {
    width: 540px;
    height: 720px;
    object-fit: contain;
}

.slides::-webkit-scrollbar {
    display: white;
}
