body {
    background: black;

}

#nav-bar {
    text-align: center;
}

header h1 {
    text-align: center;
}

header h2 {
    text-align: center;
    color:#fff;
    line-height: 50px;
}

#homepic {
    display: grid;
    place-items: center;
}

#biopage {
    display: grid;
    place-items: center;
}


